$container-width: 1170px !default;
$container-gutter: 10px !default;

html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

//  min-width: 1200px

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.container {
  margin: auto;
  max-width: $container-width;
  padding: 0 $container-gutter;
}

.footer {
  display: table-footer-group;
  height: 1%;
}
